@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');

*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:active,
:hover,
:focus {
  outline: 0 !important;
  outline-offset: 0;
}

a,
a:hover {
  text-decoration: none;
}

a:hover {
  color: var(--primary-color) !important;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

/*===== Variable Define =====*/
:root {
  --primary-color: #fd8eaf;
  --white-color: #fff;
  --text-color: #9e9999;
  --black-color: #000;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Ubuntu', sans-serif;
  font-size: 100%;
  font-weight: 400;
}

/*
=========================================
    Custom Scrollbar
=========================================
*/

::-webkit-scrollbar {
  width: 0.625rem;
}

::-webkit-scrollbar-track {
  background: var(--white-color);
}

::-webkit-scrollbar-thumb {
  background: var(--primary-color);
}

/*
==========================================
   Custom CSS Design
==========================================
*/

h1 {
  font-size: 6.25rem;
  font-weight: 900;
  margin-bottom: 1rem;
  color: var(--primary-color);
}

h1 span {
  color: var(--white-color);
}

h2 {
  font-weight: 700;
  position: relative;
  font-size: 2.1875rem;
  text-transform: capitalize;
  color: var(--black-color);
  line-height: 3.7rem;
}

h2:before {
  background: #ef6d9f;
  border-radius: 0.3125rem;
  content: '';
  position: absolute;
  top: -1.5625rem;
  left: 0;
  width: 1.875rem;
  height: 0.3125rem;
}

h4 {
  color: var(--black-color);
  text-transform: capitalize;
  font-size: 1.25rem;
  font-weight: 900;
  margin-bottom: 0.9375rem;
  transition: all .3s linear;
}

h5 {
  color: var(--black-color);
  text-transform: capitalize;
  font-family: var(--primary-color);
  font-size: 1rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
}

p {
  font-size: 1.125rem;
  color: var(--text-color);
  font-weight: 400;
  line-height: 1.75rem;
  letter-spacing: 0.0625rem;
}
.main-btn{
  width: 9.375rem;
  height: 3.125rem;
  border: 0.063rem solid var(--primary-color); 
  color:var(--black-color);
  font-size: 1.125rem;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 0;
  transition: 0.3s;
}
.main-btn::before, .main-btn::after {
  position: absolute;
  background: var(--white-color);
  z-index: -1;
  transition: 0.3s;
  content: ' ';
}
.main-btn::before {
  height: 3.125rem;
  width: 8.125rem;
}

.main-btn::after {
  width: 9.375rem;
  height: 1.875rem;
}


.main-btn:hover::before {
  width: 0px;
  background: var(--white-color);
}

.main-btn:hover::after {
  height: 0px;
  background: var(--white-color);
}

.main-btn:hover {
  background: var(--white-color);
  color:var(--primary-color);
}  
.wrapper {
  padding-top: 6.25rem;
  padding-bottom: 6.25rem;
}

.text-content {
  width: 60%;
  margin: auto;
}
 
.noselect {
  -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}




/*
==========================================
   Header Design
==========================================
*/
.navigation-wrap{
  position:fixed;
  width:100%;
  left:0;
  z-index:1000;
  -webkit-transition:all 0.3s ease-out;
  transition:all 0.3s ease-out;
} 
.navigation-wrap .nav-item{
  padding:0 0.5rem;
  transition:all 200ms linear;
}
.navbar-toggler:focus{
  outline:none;
  border:unset;
  box-shadow: none;
}
.nav-link{
  padding-top:0.9375rem;
  font-size: 0.9375rem;
  font-weight: 400;
  text-transform: capitalize;
  color:var(--white-color);
  letter-spacing:0.0625rem;
}
.nav-link:hover,
.nav-link.active{
  color:var(--primary-color);
}
.navigation-wrap .main-btn{
  color:var(--white-color);
  margin:auto;
}
.navigation-wrap .main-btn:hover{
  background-color:transparent;
}
.navigation-wrap .main-btn::before,
.navigation-wrap .main-btn::after{
  background-color:transparent;
}

/* Change navbar styling on scroll */
.navigation-wrap.scroll-on{
  position:fixed;
  background-color:var(--black-color);
  top:0;
  left:0;
  width:100%;
  box-shadow: 0 0.125rem 1.75rem 0 rgba(0,0,0,0.09);
  transition:all .15s ease-in-out 0s;
}
.navigation-wrap.scroll-on .nav-link:hover,
.navigation-wrap.scroll-on .nav-link.active{
  color:var(--primary-color);
}
.navigation-wrap.scroll-on .main-btn{
  color:var(--white-color);
  margin:auto;
}
.navigation-wrap.scroll-on .main-btn:hover{
  background-color:transparent;
}
.navigation-wrap.scroll-on .main-btn::before,
.navigation-wrap.scroll-on .main-btn::after{
  background-color:var(--black-color);
}
 
/*
==========================================
   Top Banner Design
==========================================
*/
.hero_slider .carousel-caption{
text-align: left;
top: 50%;
left: 50%;
bottom: 0;
right: 0;
transform: translate(-75% , -35%);
max-width: 1320px;

}
